# Будет игнорироваться каталог tmp
/tmp/
# Будут игнорироваться файлы заканчивающиеся суффиксами _old
*_old
# Будут игнорироваться файлы заканчивающиеся суффиксом _backup
# Будут игнорирваться все файлы и каталоги Thumbs.db
Thumbs.db
# Будет игнорироватся файл .DS_Store
.DS_Store